body {
  height: 100%;
  background-image: url(../img/pizzaBG.jpg);
}

.toppings-page, .sides-page {
  display: none;
}

#backToPizza, #orderPizza, #newPizza {
  display: none;
}

.user-input-page {
  display: none;
}

.confirmation-page {
  display: none;
}

.options-page, .user-input-page, .confirmation-page {
  margin: 15px;
}

.btn-group {
  align-self: center;
}

.title-container {
  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;
  color: white;
  text-shadow: 1px 1px black;
  align-self: center;
  margin-top: 25%;
  font-family: 'Raleway', sans-serif;
  /* background-image: url(../img/pizzaBG.jpg); */
}

.title-container h1 {
  font-size: 55px;
}

.title-container h2 {
  font-size: 40px;
  font-style: italic;
}

#pizzaModalButton {
  display: block;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.2);
}

.mainpage-body {
  margin-top: 30px;
}

.options-page h3 {
  text-decoration: underline;
}
